*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,body{
height: 100%;
width: 100%;
}

#section1{
  width: 100%;
  height: 100%;
position: relative;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;  
padding: 40px 50px;
}
.part2{
display: flex;
align-items: center;
justify-content: space-between;  
gap: 50px;
}

nav h1{
  font-size: 40px;
}

nav h4{
 font-weight: 500;
  font-size: 20px;
}

nav button {
  padding:  15px 20px;
  font-size: 20px;
  border-radius: 5px;
  border:1px solid #000;
  font-weight: 600;
  background-color: transparent;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-infinite {
  animation: rotate 3s linear infinite;
  display: inline-block;
}
